<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    
    <ul>
    <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
       <% } %>
    </ul>

    <h1> Welcome to Cooking Chaos, <%= user %>! </h1><br>
    <h2><%= level %></h2> 
    <h2>Please pick your Kata.</h2>
    <a href="/users/logout">Log Out</a>
</body>
</html>