<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create An Account</title>
</head>
<body>
<h1>Register</h1>

<ul>
   <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %>
    <% } %>
</ul>

<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password" id="password_confirmation" name="password_confirmation" placeholder="re-type password" required>
    
    <button type="submit">Register</button>
  </div>
</form>
<a href="/login">Login</a>
</body>
</html>
